.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #434f46;
}

.image-area {
  text-align: center;
}

.radio {
  margin-top: 50px;
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 50px;
  color: white;
}

.label {
  display: inline;
  color: white;
}
