.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #434f46;
}

.image-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio {
  margin-left: 50px;
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 50px;
  color: white;
}

.label {
  display: inline;
  color: white;
}

.description {
  color: white;
  margin-bottom: 20px;
  font-size: xx-large;
}

.radio {
  width: 250px;
  text-align: start;
  // padding: 50px;
}

// .radio-container {
//   display
// }

:host::ng-deep .ant-radio-wrapper {
  margin-top: 15px;
}

.content-area {
  display: flex;
  align-items: flex-start;
}

.image-tag {
  height: 320px;
}
